@import './colors';

.registerPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-btn{
      position: absolute;
      right: 0;
    }
  }
}